#boxQuestionsHuman{
    display: grid;
    grid-template-columns: 1fr;
    gap: $space-small;
    margin-top: $space-small;

    @media screen and (min-width: 620px){
        grid-template-columns: 1fr 1fr;
    }

    @media screen and (min-width: 1000px){
        grid-template-columns: 1fr 1fr 1fr;
    }

}


